@import "tailwindcss";

:root {
  --background: #0c0a09; /* Stone-950 */
  --foreground: #f5f5f4; /* Stone-100 */
  --panel: #1c1917;      /* Stone-900 */
  --border: #292524;     /* Stone-800 */
  --accent: #f97316;     /* Orange-500 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist Mono', monospace;
}